/* please use a specific class name to avoid a conflict. ex) .footer_text{}*/

/* common CSS */
body {
  font-size: 16px;
  background-color: #fcfcfc;
}
/* common CSS */

/* top  */
/* please coding top section here  */
/* top  */

/* header */
/* please coding header section here  */
#header_bar {
  width: 100%;
  height: 60px;
  background-color: #c1d8e8;
  color: #3b3b3b;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.header_headerlogo img {
  display: inline-block;
  height: 35px;
  width: auto;
  margin: 12px 0 10px 20px;
}

.header_right {
  margin-top: 17px;
  margin-right: 20px;
  display: flex;
}

.header_searchbox {
  height: 25px;
  width: 150px;
  border: 1.5px solid #3b3b3b;
  background-color: #fff;
  margin-right: 5px;
}

.header_search {
  display: flex;
  margin-left: 10px;
}

.fa-envelope,
.fa-search {
  font-size: 25px;
}
/* header */

/* main */
/* please coding main section here  */

.nav-left {
  width: 15%;
  float: left;
  background-color: #646464;
  margin: 0;
}

.nav-listwrap {
  text-align: center;
  margin: 35px 30px;
}

.nav_pagelist {
  margin: 15px 0;
  list-style: none;
}

.nav_pagelist a {
  text-decoration: none;
  color: #fff;
}

.main_container {
  width: 700px;
  height: auto;
  margin: auto auto 50px auto;
}

.main_container h2 {
  margin: 12px 0;
}

.main_topic-title {
  font-size: 42px;
  color:black;
  font-family: Kadwa, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:10px auto 15px auto;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.w3-table, .w3-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}
.table{
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}

tr:nth-child(odd) {
	background: #EEEEEE;
}

/* main */

/* footer */
/* please coding footer section here  */
.footer_section {
  width: 100%;
  height: 255px;
  background-color: #c1d8e8;
  text-align: center;
}

.footer_logo {
  padding-top: 32px;
  width: 100px;
}

.footer_list {
  padding-top: 32px;
  margin: 0 auto;
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.icon {
  color: #3b3b3b;
  font-size: 25px;
}

/* footer */
