/* please use a specific class name to avoid a conflict. ex) .footer_text{}*/

/* common CSS */
body {
  font-size: 16px;
  background-color: #fcfcfc;
}
/* common CSS */

/* top  */
/* please coding top section here  */
/* top  */

/* header */
/* please coding header section here  */
/* header */

/* main */
/* please coding main section here  */
.main_container{
  width:700px;
  height:700px;  
  margin:auto;
}

.main_topic-title{
  font-size: 42px;
  color: #115843;
  font-family: Kadwa,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 15px;
}
/* main */

/* footer */
/* please coding footer section here  */
.footer_section {
  width: 100%;
  height: 200px;
  background-color: #c1d8e8;
}
/* footer */
